.container {
	max-width: 55%;
	text-align: center;
	animation: home-appear 0.5s ease-in-out forwards;
}

@media screen and (max-width: 1023px) {
	.container {
		max-width: 72.5%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 90%;
	}
}

@keyframes home-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
