.image {
	border-radius: 50%;
	animation: image-appear 1s ease-in-out forwards;
}

@keyframes image-appear {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
