.image {
	border-radius: 50%;
}

@media screen and (max-width: 768px) {
	.image {
		transform: scale(0.95);
	}
}

@media screen and (max-width: 576px) {
	.image {
		transform: scale(0.9);
	}
}

@media screen and (max-width: 360px) {
	.image {
		transform: scale(0.8);
	}
}
