.btn {
	transition: 0.2s ease-in-out;
}

.btn:hover {
	color: white;
}

.email:hover {
	background-color: #405de6;
}

.github:hover {
	background-color: black;
}

.linkedin:hover {
	background-color: #2867b2;
}

.twitter:hover {
	background-color: #1da1f2;
}

.linkedin-link {
	color: #2867b2;
}

.github-link {
	color: black;
}

.twitter-link {
	color: #1da1f2;
}
