.container {
	margin-top: 2em;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.btn {
	transition: 0.2s ease-in-out;
	height: 1em;
	width: 1em;
}

.btn:hover {
	color: white;
}

.email:hover {
	background-color: #405de6;
}

.github:hover {
	background-color: black;
}

.linkedin:hover {
	background-color: #2867b2;
}

.twitter:hover {
	background-color: #1da1f2;
}

.linkedin-link {
	color: #2867b2;
}

.github-link {
	color: black;
}

.twitter-link {
	color: #1da1f2;
}

.hashnode-link {
	color: #2962ff;
}

.hashnode-link:hover {
	background-color: #2962ff;
	color: white;
}
