.button {
	border: none;
	filter: drop-shadow(4px 4px 6px #ccc);
	transition: all 0.1s ease-in-out;
}

.button:hover {
	cursor: pointer;
}

.button:active {
	transform: scale(0.99);
}

.button a {
	color: white;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 2em;
	margin: -2em;
}
