.name {
	color: black;
}

.active {
	color: #2b95f0 !important;
	border: none !important;
	font-weight: bold;
}

.nav-links {
	color: black;
	transition: all 0.1s ease;
}

.nav-links:hover {
	color: black;
	border-bottom: 1px solid black;
}
