.container {
	font-size: 1.65em;
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.link {
	transition: 0.1s ease-in-out;
	margin: 0 0.5em;
}

.link:hover {
	filter: drop-shadow(6px 6px 8px #ccc);
	transform: scale(1.1);
}

.icon {
	padding: 0.25em;
}

.linkedin-link {
	color: #2867b2;
}

.github-link {
	color: black;
}

.twitter-link {
	color: #1da1f2;
}

.hashnode-link {
	color: #2962ff;
	display: flex;
	align-items: center;
}
