.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1300px;
}

.column {
	padding: 0.75em 2em;
	width: calc((100%) / 3);
}

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
	height: 100%;
	transition: all 0.2s ease-in-out;
}

.project-card:hover {
	transform: scale(1.01);
	filter: drop-shadow(6px 6px 10px #888);
}

.button-container {
	display: flex;
	justify-content: space-evenly;
	margin: 0.5em 0;
}

.title {
	font-size: 1.625em;
	font-weight: bold;
}

.description,
.tech-stack {
	font-size: 1.125em;
}

.description,
.tech-stack {
	margin-bottom: 0.5em;
}

.subtitle {
	font-weight: bold;
}

.project-button {
	padding: 0.35em;
	width: 40%;
	text-align: center;
}

.live-button {
	background-color: #2b95f0;
	color: white;
}

.live-button:hover {
	background-color: #2585d8;
}

.github-button {
	background-color: #2d333b;
	color: white;
}

.github-button:hover {
	background-color: #000;
}

.tag::after {
	content: ", ";
}

.tag:last-of-type::after {
	content: "";
}
