.image {
	border-radius: 50%;
	animation: image-appear 1s ease-in-out forwards;
}

.is-vertically-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: headline-appear 1s ease-in-out forwards;
}

.btn {
	transition: 0.2s ease-in-out;
}

.btn:hover {
	color: white;
}

.email:hover {
	background-color: #405de6;
}

.github:hover {
	background-color: black;
}

.instagram:hover {
	background-color: #c13584;
}

.instagram-link {
	color: #c13584;
}

.github-link {
	color: black;
}

@keyframes headline-appear {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
