.blog-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2em;
	animation: logo-appear 1s ease forwards;
}

.blog-logo {
	width: 75%;
	height: auto;
}

.post-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation: posts-appear 1.5s ease forwards;
}

.post-card {
	width: 90%;
	padding: 1em;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 2em;
	filter: drop-shadow(4px 4px 8px #ccc);
	transition: all 0.2s ease-in-out;
}

.post-card p {
	color: black;
}

.post-card:hover {
	transform: scale(1.01);
	filter: drop-shadow(6px 6px 10px #888);
}

.post-image {
	border-radius: 10px;
}

.post-description {
	font-size: 1.1em;
}

@keyframes logo-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes posts-appear {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
