.blog-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2em;
}

.blog-logo {
	width: 75%;
	height: auto;
}

.post-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.post-card {
	width: 90%;
	padding: 1.5em;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 2em;
	filter: drop-shadow(4px 4px 8px #ccc);
	transition: all 0.2s ease-in-out;
}

.post-card p {
	color: black;
}

.post-card:hover {
	transform: scale(1.01);
	filter: drop-shadow(6px 6px 10px #888);
}

.post-image {
	border-radius: 10px;
}

.post-description {
	font-size: 1.1em;
}
