.post-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.post-card {
	width: 90%;
	border-bottom: 2em;
}

.image {
	border-radius: 8px;
}

.post-description {
	font-size: 1.1em;
}

.links {
	color: black;
}
