body {
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
	background-color: whitesmoke;
	color: #000;
}

nav {
	background-color: whitesmoke !important;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 86vh;
}

@media screen and (max-width: 350px) {
	body {
		font-size: 0.75em;
	}
}
