body {
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
	background-color: whitesmoke;
}

nav {
	background-color: whitesmoke !important;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 86vh;
}
